<mat-card appearance="outlined" class="card big">
  <mat-card-content>

    <div class="header field">
      <mat-icon>route</mat-icon>
      <span class="label">Distance to Pickup:</span>
      <span class="value bold">{{ request.driverToPickupDistance | number:'1.2-2' }} km</span>
    </div>

    <div class="header field">
      <mat-icon>directions_car</mat-icon>
      <span class="label">Requested Vehicle Type:</span>
      <span class="value">{{ request.desiredVehicleClass }} </span>
    </div>

    <div class="header field">
      <mat-icon>hail</mat-icon>
      <span class="label">Customer Name:</span>
      <span class="value">{{ request.customerName }} </span>
    </div>

    <div class="header field">
      <mat-icon>star</mat-icon>
      <span class="label">Customer Rating:</span>
      <span class="value">{{ request.customerRating | number:'1.2-2' }} </span>
    </div>

    <div class="header field">
      <mat-icon>hourglass_full</mat-icon>
      <span class="label">Requested at:</span>
      <span class="value grey-italic">{{ request.createdAt | date:"EEEE, dd.MM.yyyy — 'at' hh:mm a" }}</span>
    </div>

    <div class="header field">
      <mat-icon>sell</mat-icon>
      <span class="label">Request ID:</span>
      <span class="value grey-italic">{{ request.requestID }}</span>
    </div>

    <!--FAHRTEN MIT MEHREREN ZWISCHENSTOPPS-->
    <div class="info" *ngIf="request.stopovers?.length">
      <mat-icon>info</mat-icon>
      <span style="margin-left: 8px;">This Request contains Stopovers</span>
      <button mat-mini-fab (click)="showStopovers = !showStopovers" class="info-btn">
        {{ showStopovers ? 'Hide' : 'Show' }}
      </button>
    </div>

    <div *ngIf="!showStopovers" class="location-cards-container">
      <app-location-card label="Pickup at" [location]="request.pickup"></app-location-card>
      <app-location-card label="Drop off at" [location]="request.dropoff"></app-location-card>
    </div>

    <div *ngIf="showStopovers">
      <app-location-card label="Pickup at" [location]="request.pickup"></app-location-card>
      <br>

      <mat-card class="card big" appearance="outlined">
        <mat-card-content>
          <div class="header">
            <mat-icon>location_on</mat-icon>
            <span class="label">Stop By</span>
          </div>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element" class="name"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
              <th mat-header-cell *matHeaderCellDef> Lat. </th>
              <td mat-cell *matCellDef="let element" class="coord"> {{element.latitude | number:'1.2-2' }} </td>
            </ng-container>

            <ng-container matColumnDef="longitude">
              <th mat-header-cell *matHeaderCellDef> Lng. </th>
              <td mat-cell *matCellDef="let element" class="coord"> {{element.longitude | number:'1.2-2' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
            <tr
              mat-row
              *matRowDef="let row; let i = index; columns: displayedColumns;"
            ></tr>

          </table>

        </mat-card-content>
      </mat-card>
      <!--ENDE DER FAHRTEN MIT MEHREREN ZWISCHENSTOPPS-->

      <br>
      <app-location-card label="Drop off at" [location]="request.dropoff"></app-location-card>
      <br>
    </div>

    <div class="button-container">
      <button
        *ngIf="offerState === OfferState.NONE"
        class="btn" mat-fab extended (click)="accept()"
      >
        Send Offer
      </button>

      <button
        *ngIf="offerState === OfferState.OFFERED && request.requestID === RequestIdOfOffer"
        class="btn warn" mat-fab extended (click)="withdraw()"
      >
        Withdraw Offer
      </button>

      <button
        *ngIf="offerState === OfferState.OFFERED && request.requestID !== RequestIdOfOffer"
        class="btn" mat-fab extended disabled
      >
        Please withdraw your active Offer first
      </button>

      <button
        *ngIf="offerState === OfferState.OFFERED && request.requestID === RequestIdOfOffer"
        class="btn chat" mat-fab extended (click)="openChat()"
      >
        <mat-icon>chat</mat-icon>
        Chat
        <span *ngIf="hasUnreadMessages" class="chat-badge"></span>
      </button>
    </div>

  </mat-card-content>
</mat-card>
<br>
