<div class="main-container" *ngIf="isCustomer !== null && userHasActiveSimulation">
  <div class="left-container scroll">
    <mat-card appearance="outlined" class="card small">

      <div class="header field control">
        <mat-icon>settings</mat-icon>
        <div class="label">Control</div>
      </div>

      <mat-card-content class="content-section top-border" *ngIf="isCustomer">
        <div class="header field">
          <mat-icon>map</mat-icon>
          <div class="label">Ride Details:</div>
        </div>
        <div class="field">
          <span class="title">Price:</span>
          <span class="value bold">{{ rideDetails.price | number:'1.2-2' }} €</span>
        </div>
        <div class="field">
          <span class="title">Distance:</span>
          <span class="value">{{ rideDetails.distance | number:'1.2-2' }} km</span>
        </div>
        <div class="field">
          <span class="title">Duration:</span>
          <span class="value">{{ rideDetails.duration }} minutes</span>
        </div>
      </mat-card-content>

      <mat-card-content class="content-section top-border" *ngIf="isCustomer">
        <div class="header field">
          <mat-icon>explore</mat-icon>
          <span class="label">
            Add a new Stopover
            {{
              desiredStopoverPosition === points.length
                ? 'after'
                : desiredStopoverPosition === points.length - 1
                  ? 'before'
                  : 'before'
            }}:
          </span>
          <span class="value bold">
            {{
              desiredStopoverPosition === points.length
                ? 'Drop off'
                : desiredStopoverPosition === points.length - 1
                  ? 'Drop off'
                  : 'Stopover ' + desiredStopoverPosition
            }}
          </span>
        </div>

        <select-location
          class="stopover-location-select"
          [label]="'I want to stop by ...'"
          [placeholder]="'Train Station'"
          [control]="newStopoverControl"
          [isSimulationPaused]="paused"
          (locationSelected)="onLocationSelected($event)"
          >
        </select-location>

        <input type="range"
               style="width: 100%"
               [(ngModel)]="desiredStopoverPosition"
               [min]="nextStopoverPosition"
               [max]="points.length"
               [step]="1"
               [disabled]="!paused"
               required>
      </mat-card-content>

      <mat-card-content class="content-section top-border">
        <div class="header field">
          <mat-icon>flash_on</mat-icon>
          <span class="label">Simulation Duration:</span>
          <span class="value bold">{{ duration }} seconds</span>
        </div>

        <input
          style="width: 100%"
          type="range"
          min="3"
          max="30"
          (change)="speed()"
          [(ngModel)]="duration"
          [disabled]="!paused">
      </mat-card-content>

      <mat-card-content class="content-section top-border">
        <div class="button-container">
          <button *ngIf="!hasStarted" class="btn" mat-fab extended (click)="start()">Start</button>
          <button *ngIf="hasStarted && paused" class="btn" mat-fab extended (click)="resume()" [disabled]="currentIndex >= path.length - 1">Resume</button>
          <button *ngIf="hasStarted && !paused" class="btn" mat-fab extended (click)="pause()">Pause</button>
          <button *ngIf="isCustomer && hasStarted"
                  class="btn warn" mat-fab extended
                  (click)="complete()"
                  [disabled]="!paused || !points[points.length -1].passed || balance < rideDetails.price">
            {{
              !points[points.length -1].passed ? 'Please reach your Drop off to complete this Simulation' :
                (balance < rideDetails.price ? 'Please Top-Up enough Balance to complete this Simulation' : 'Complete')
            }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <div *ngFor="let point of points; let i = index">
      <app-location-card
        [isSimulationPaused]="paused"
        [removable]="isCustomer && !point.passed"
        [location]="{ latitude: point.lat, longitude: point.lng, name: point.name, address: point.address }"
        [label]="i === 0 ? 'Pick up' : i === points.length - 1 ? 'Drop off' : 'Stopover ' + i"
        (onRemove)="removeStopover(i)">
      </app-location-card>
    </div>
    <br>
  </div>

  <div class="right-container map">
    <div #mapContainer class="sep-map"></div>
  </div>
</div>

<div *ngIf="isCustomer !== null && !userHasActiveSimulation" class="alert error mini centered-box">
  Please ensure an Offer has been accepted.
</div>

<div *ngIf="isCustomer === null" class="alert error mini centered-box">
  Please log in first.
</div>
