<div class="main-container" *ngIf="accessAllowed && !userHasActiveSimulation">
  <div class="left-container scroll">
    <select-location
      [label]="'My Position'"
      [placeholder]="'Train Station'"
      [control]="currentPositionControl"
      [geoLocationButton]="true"
      (locationSelected)="onLocationSelected($event)"
    >
    </select-location>

    <h1 class="sort-header">Sort by</h1>
    <mat-radio-group  class="sort-group">
      <div *ngFor="let option of sortOptions" class="sort-option">
        <span class="sort-label">{{ option.label }}</span>
        <div class="radio-buttons">
          <mat-radio-button
            (click)="sortRequests(option.key, 'asc')"
            [value]="option.key + '-asc'"
          >
            <mat-icon>arrow_upward</mat-icon>
          </mat-radio-button>
          <mat-radio-button
            (click)="sortRequests(option.key, 'desc')"
            [value]="option.key + '-desc'"
          >
            <mat-icon>arrow_downward</mat-icon>
          </mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
    <br>

    <div class="button-container">
      <button class="btn" mat-fab extended (click)="loadRequests()" [disabled]="!positionSet">
        Refresh Requests
      </button>
    </div>
  </div>

  <div class="right-container scroll">

      <div class="centered-box req-card-container alert error" *ngIf="!positionSet">
        Please enter your position first.
      </div>

      <div class="centered-box req-card-container alert error" *ngIf="positionSet && allActiveRequests.length === 0">
        There are no active requests at the moment. <br><br>
        Please refresh later.
      </div>

      <div class="centered-box req-card-container" *ngFor="let request of allActiveRequests">
        <request-card
          [request]="request"
          [offerState]="offerState"
          [RequestIdOfOffer]="requestIdOfOffer"
          [driverUsername]="username"
          (onAccept)="sendOffer(request.requestID)"
          (onWithdraw)="withdrawOffer()"
        />
      </div>

  </div>
</div>

<div *ngIf="accessAllowed && userHasActiveSimulation" class="alert error mini centered-box">
  Please complete your Simulation first.
</div>

<div *ngIf="!accessAllowed" class="mini centered-box alert error">
  Please log in as a Driver first.
</div>
