<div class="main-container" *ngIf="accessAllowed && !userHasActiveSimulation">
  <div class="left-container scroll">

    <h1 class="sort-header">Sort by</h1>
    <mat-radio-group class="sort-group">
      <div *ngFor="let option of sortOptions" class="sort-option">
        <span class="sort-label">{{ option.label }}</span>
        <div class="radio-buttons">
          <mat-radio-button
            (click)="sortOffers(option.key, 'asc')"
            [value]="option.key + '-asc'"
          >
            <mat-icon>arrow_upward</mat-icon>
          </mat-radio-button>
          <mat-radio-button
            (click)="sortOffers(option.key, 'desc')"
            [value]="option.key + '-desc'"
          >
            <mat-icon>arrow_downward</mat-icon>
          </mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
    <br>

    <div class="button-container">
      <button class="btn" mat-fab extended (click)="loadOffers()">
        Refresh Offers
      </button>
    </div>
  </div>

  <div class="right-container scroll">

    <div class="centered-box offer-card-container alert error" *ngIf="offers.length === 0">
      You have not received any offers yet. <br><br>
      Please refresh later.
    </div>

    <div class="centered-box offer-card-container" *ngFor="let offer of offers">
      <offer-card
        [offer]="offer"
        [customerUsername]="username"
        (onAccept)="acceptOffer(offer.offerID)"
        (onReject)="rejectOffer(offer.offerID)"
      ></offer-card>
    </div>
  </div>
</div>

<div *ngIf="accessAllowed && userHasActiveSimulation" class="alert error mini centered-box">
  Please complete your Simulation first.
</div>


<div *ngIf="!accessAllowed" class="mini centered-box alert error">
  Please log in as a Customer first.
</div>

